body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(67,67,67,1) 69%);
    color : white;
    margin-bottom : 10rem;
    background-image : url("bg.jpg")
    
    
}
.borderbox {
    text-align: center;
    margin : 2rem;
    margin-top : 3rem;
    color: white;
    font-style: bold;
}
.borderbox h1 {
    font-size : 4rem;
    font-style: bold;
}
.remote{
    background: white;
    margin: auto;
    width: 30%;
    height: 700px ;
    padding: 2rem;
    margin-top : 3rem;
    margin-bottom : 5rem;
    opacity: 0.8;
    border-radius: 20px;

}
.remote h3{
    color: grey;
    font-size : 1.8rem;
    text-align: center;
}

.remote h2 {
    color : hsl(24, 100%, 59%);
    text-align: center;
    margin : 1rem ;
    font-size: 2rem;   
}
.remote h4 {
    margin : 1rem;
    text-align: center;
    color: rgb(102, 102, 102);
}
.btn {
    margin: auto;
    padding : 1rem;
    margin : 0.2rem;
    width : 12rem;
    font-size : 2rem;
}

.btn :focus {
    margin: auto;
    padding : 1rem;
    margin : 0.2rem;
    width : 8rem;
    font-size : 3rem;
    border-color : white; 
    border-width: 10px ;


}

.center {
    margin: auto;
    text-align: center;
}



